# Docker context ignore list
.azure
.idea
.vagrant
AntennaTracker
Rover
ArduPlane
ArduSub
benchmarks
docs
mk
tests
# autotest directories
test.*
terrain
logs
.github/
FCU1/
FCU2/
FCU3/
# mavproxy stuff
mav.*


**/.mypy_cache
cmake-build-*/
*.tar
*.tlog
*.tlog.raw
logs/
build/

